<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tftechsz.home">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <activity
            android:name="com.tftechsz.home.mvp.ui.activity.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name="com.tftechsz.home.mvp.ui.activity.RadarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.home.mvp.ui.activity.UserPicBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityAnim2" />
    </application>
</manifest>
