<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tftechsz.family">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.CreateFamilyPrerequisitesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyRecruitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.RoomMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.ApplyVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.ChangeJoinConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.EditFamilyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyBlackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.SearchFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilySettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.ShareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyAitMemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.FamilyAitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tftechsz.family.mvp.ui.activity.GroupCoupleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>


</manifest>
